

h1 { color : black }
html{
    border: solid;
}

body {
    border: 14px solid rgb(253, 253, 253);
    }

h3.border {
    margin: 24px;
    }

h2 {
    margin: 25px;
    }
h3 {
    margin: 25px;
    line-height: normal;
    }
h4{
    margin: 25px;
    }

table, th, td {
    border:1px solid black;
    margin: 25px;
    }
p{
    margin:35px;
}html{
    border: solid;
}

body {
    border: 15px solid rgb(253, 253, 253);
    }

h3.border {
    margin: 24px;
    }

h2 {
    margin: 35px;
    }
h3 {
    margin: 24px;
    line-height: normal;
    }
h4{
    margin: 25px;
    }

table, th, td {
    border:1px solid black;
    margin: 25px;
    }
p{
    margin:35px;
}

<h1 style="color:green;">A red Heading</h1>
 ma

<p style="color:yellow;">A red paragraph.</p>
